html, body {  
  height: 100%;
}

body {
    font-family: 'Marvel', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: url(./assets/176568-she-hulk-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header img {
  display: flex;
  align-items: flex-start;
  max-width: 30%;
  padding: 10px;
  height: 100px;    
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}  

.navbar a {
  background-color: #41b234;
  color: #fff;
  padding: 10px;
  text-decoration:none;
  margin-left: 20px;
  box-shadow: 0 0 10px #000000;
}

.navbar a:hover{
  background: #c23ce4;
  transition: 1s all;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-image: radial-gradient(ellipse, #6cdc44 0%, #169612 100%);
  box-shadow: 0 0 10px #000000;
  opacity: 0.8;    
}

.container img {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}  

.navbar a, .container, .container img {
  border-radius: 2px;
}

.container p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
  
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 10px;
}

footer img{
  max-width: 100px;
  margin-right: 10px;
}

footer p {
  margin: 0;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body{
    background-size: contain;
    background-repeat: repeat;
  }
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    opacity: 1;
  }

  .container p {	
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    margin: 10px;
  }    
}

